/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 5, 2015, 11:02:13 AM
    Author     : Bilal
*/



a,a:visited{
    color: #e85387;
}

a:hover,
a:focus,
.site-info a:hover{
    color: #CA4875;
}

ul.athena-nav > li.menu-item.current-menu-item a,
ul.athena-nav > li.menu-item.current-menu-parent a,
ul.athena-nav > li.menu-item a:hover{
    
    border-bottom: 2px solid #e85387;

}

.athena-button.primary,
button, 
input[type="button"], 
input[type="submit"]{
    background: #e85387;
    color: #fff;
}

.athena-button.primary:hover{
    background: #CA4875;
}

#athena-featured{
    background: #e85387;
    color: #fff;
}
#athena-featured .fa{
    color: #fff;
}

#authica-social a:hover{
    color: #e85387;
}

.scroll-top:hover{
    background: #e85387;
}

#athena-overlay-trigger{
    border-color: transparent transparent #e85387 transparent;
}